.home {
   position: relative;
   padding-top: 25vh;
   background: #009c70 url(../img/background.png) 0 0 / cover no-repeat fixed;
   width: 100vw;
   height: 100vh;
   background-blend-mode: multiply;

   .wrapper {
      position: relative;
      z-index: 2;
   }

   &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 200px;
      opacity: 90%;
      background: linear-gradient(0deg, #000000, transparent);
   }

   &__title {
      @include adaptiv-value(font-size, 96, 46, 0);
      line-height: 1.2;
      text-align: center;
   }

   &__img {
      display: block;
      margin: 5vh auto;
   }

   &__descr {
      @include adaptiv-value(font-size, 17, 14, 0);
      line-height: 1.5;
      text-align: center;
      font-weight: 300;
      margin-bottom: 3vh;
   }
   .next-page {
      bottom: -110px;
   }
}