@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(../libs/bootstrap/css/bootstrap.min.css);

body {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
@import "../scss/variables";
@import "../scss/adaptive";
@import "../scss/header";
@import "../scss/home";
@import "../scss/about";
@import "../scss/advantages";
@import "../scss/characteristics";
@import "../scss/questions";
@import "../scss/contacts";