.characteristics {
  @include adaptive-value(padding-top, 120, 50, 0);

  &__title {
    margin-bottom: 50px;
  }
  .wrapper {
    &__title {
      font-size: 21px;
      font-weight: bold;
    }
    &__subtitle {
      font-weight: 300;
      font-size: 15px;
    }
  }
}