.header {
    &__contant {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        &__link {
            padding-top: 5px;
        }

        &__text {
            margin-left: -100px;
            color: #FEFEFE;
        }
    }

    .nav {
        &__list {
            display: flex;

        }

        &__item {
            margin: 0 15px;

        }

        &__link-link {
            color: #FEFEFE;
            text-transform: uppercase;
        }
    }

    .contact {
        &__btn {
            border: 1px solid rgb(255, 255, 255, 1);
            color: #FEFEFE;
        }

        &__phone {
            color: #FEFEFE;
        }
    }
}