.header {
  position: fixed;
  width: 100%;
  padding-top: 43px;
  z-index: 100;

  .navbar {
    justify-content: space-between;

    &-brand {

      img {
        margin-right: 11px;
      }

      span {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
      }
    }

    .nav-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
      display: flex;
      align-items: center;
    }

    .nav-link {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
    }
    .btn {
      padding: 5px 28px;
      border-radius: 3px;
      border: 1px solid #fff;
    }
  }
}