.home {
   position: relative;
   padding-top: 218px;
   padding-bottom: 60px;
   background: url(../img/background.png) center center no-repeat;

   &__title {
      font-size: 96px;
      line-height: 115px;
      text-align: center;
   }
   &__img {
      display: block;
      margin: 25px auto;
   }
   &__descr {
      font-size: 17px;
      line-height: 1.5;
      text-align: center;
      font-weight: 300;
   }
}