.home {
   position: relative;
   @include adaptiv-value(padding-top, 220, 100, 0);
   padding-bottom: 60px;
   background: url(../img/background.png) 0 0/cover no-repeat;
   width: 100vw;
   height: 100vh;

   &__title {
      @include adaptiv-value(font-size, 96, 46, 0);
      line-height: 1.2;
      text-align: center;
   }

   &__img {
      display: block;
      margin: 25px auto;
   }

   &__descr {
      @include adaptiv-value(font-size, 17, 14, 0);
      line-height: 1.5;
      text-align: center;
      font-weight: 300;
   }
}