.next-page {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 50px;

  &-up {
    position: absolute;
    transform: translate(-50%) rotate(180deg);
    left: 50%;
    bottom: 50px;
  }
}

.title {
  @include adaptive-value(font-size, 44, 24, 0);
}

.container {
  height: 100%;
}

.main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.slide {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #00000050;

  &:nth-child(1) {
    background-image: url(../img/bg/1.webp);
  }

  &:nth-child(2) {
    background-image: url(../img/bg/2.webp);
  }

  &:nth-child(3) {
    background-image: url(../img/bg/3.webp);
  }

  &:nth-child(4) {
    background-image: url(../img/bg/4.webp);
  }

  &:nth-child(5) {
    background-image: url(../img/bg/5.webp);
  }

  &:nth-child(6) {
    background-image: url(../img/bg/6.webp);
  }
}