.next-page {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   bottom: 50px;

   &-up {
      position: absolute;
      transform: translate(-50%) rotate(180deg);
      left: 50%;
      bottom: 50px;
   }
}

.bg {
   background: #004934 url(../img/fog-bg.png) center center/cover no-repeat fixed;
   background-blend-mode: multiply;
   width: 100vw;
   height: 100vh;
}

.bg-blur {
   position: relative;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      opacity: 90%;
      background: linear-gradient(180deg, #000000, transparent);
   }
}